<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap & CSS  -->
        <link rel="stylesheet" href="../assets\css\bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../assets\css\style.css" type="text/css"/>

        <script src="../assets\js\jquery-3.4.0.min.js"></script>
        <script src="../assets/js/script.js"></script>
        <title>Ecologia</title>
    </head>
    <body>
        <header>
            <nav>
                    
                    <a class="logo" href="index.html"> <img src="../assets/imgs/reciclar.png" alt="logo-recicla" class="logo-recicla"> </a>
                    
                    <div >
                        <ul>
                            <li> <a class="nav-link" href="info.html"> Informações </a> </li>
                            <li> <a class="nav-link" href="news.html"> Notícias </a> </li>
                            <li> <a class="nav-link" href="tips.html"> Dicas </a> </li>
                            <li> <a class="nav-link" href="us.html"> Sobre Nós </a> </li>
                        </ul>     
                    </div>
            </nav>
        </header>            
        <!-- View do Slideshow -->       
        <!-- >div class="slideshow-container">
                    <div class="mySlides fade"> 
                        <div class="numbertext">1/3</div>
                        <img src="assets/imgs/slide1.jpg" style="width:100%" alt="Slide 1">
                    </div>
                    <div class="mySlides fade"> 
                        <div class="numbertext">2/3</div>
                        <img src="assets/imgs/slide2.jpg" style="width:100%" alt="Slide 2">
                    </div>
                    <div class="mySlides fade"> 
                        <div class="numbertext">3/3</div>
                        <img src="assets/imgs/slide3.jpg" style="width:100%" alt="Slide 3">
                    </div>
                </div>

                < Botões de pular e voltar nos Slides>
                <div class="prev" onclick="plusSlides(1)">&#10094;</div>
                <div class="next" onclick="plusSlides(2)">&#10095;</div -->
                
                <!-- dots representando os slides -->
                <!-- >div>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div-->

                <div class="jumbotron">
                    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, doloribus ipsa. Incidunt, sunt nostrum. Porro quas voluptas ab aliquid consectetur, aliquam laborum rem, deleniti ipsum alias amet ea aut quos.</h1>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias recusandae tempore velit quas nam ut! Fugiat libero laudantium cum molestias laborum quo similique quaerat voluptatibus dolorem facilis, delectus sint culpa.</p>
            
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa aut nemo distinctio vitae quisquam sit deleniti quia modi minus perferendis, provident quaerat, assumenda, nobis eum! Asperiores aperiam facilis natus sunt.</p>
            
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum eius! Qui officia odio, debitis nemo nesciunt omnis ad dolorum? Est nemo quisquam eligendi sunt fugiat nesciunt similique eveniet cumque.</p>                    
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum eius! Qui officia odio, debitis nemo nesciunt omnis ad dolorum? Est nemo quisquam eligendi sunt fugiat nesciunt similique eveniet cumque.</p>
                
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil odit autem ut! Qui officiis velit quibusdam sunt officia. Quos consequuntur ad magnam ducimus qui harum velit asperiores perspiciatis laudantium sed.</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, magni odio in officia repellendus dignissimos id nihil harum eos voluptatum eaque eius rerum? Est amet temporibus officia non fugiat mollitia!</p>
                </div>

                  
    </body>
</html>