<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap & CSS  -->
        <link rel="stylesheet" href="../assets\css\bootstrap.min.css" type="text/css"/>
        <link rel="stylesheet" href="../assets\css\style.css" type="text/css"/>

        <script src="../assets\js\jquery-3.4.0.min.js"></script>
        <script src="../assets/js/script.js"></script>
        <title>Ecologia</title>
    </head>
    <body>
        <header>
            <nav>
                    
                    <a class="logo" href="index.html"> <img src="../assets/imgs/reciclar.png" alt="logo-recicla" class="logo-recicla"> </a>
                    
                    <div >
                        <ul>
                            <li> <a class="nav-link" href="info.html"> Informações </a> </li>
                            <li> <a class="nav-link" href="news.html"> Notícias </a> </li>
                            <li> <a class="nav-link" href="tips.html"> Dicas </a> </li>
                            <li> <a class="nav-link" href="us.html"> Sobre Nós </a> </li>
                        </ul>     
                    </div>
            </nav>
        </header>  
    </body>
</html>